aioconsole==0.1.15
appdirs==1.4.3
attrs==19.3.0
black==19.10b0
Click==7.0
future==0.18.2
jedi==0.15.2
mypy==0.761
mypy-extensions==0.4.3
parso==0.5.2
pathspec==0.7.0
pluggy==0.13.1
PyQt5==5.14.1
PyQt5-sip==12.7.0
python-jsonrpc-server==0.3.2
python-language-server==0.31.4
regex==2020.1.8
toml==0.10.0
typed-ast==1.4.0
typing-extensions==3.7.4.1
ujson==5.2.0
